.namebar {
  transition: min-height 0.5s ease-out;
  top: 3.8em;
  width: 100%;
  z-index: 50;
  min-height: 15em;
  padding-top: 1em;
  background: white;
}

.namebar.shrink{
  transition: min-height 0.2s;
  min-height: 7em;
}

.namebar.shrink.mobile{
  transition: min-height 0.2s, height 0.2s;
  min-height: 7em;
  height: 8em;
}

.appleLink:hover{
  .appleLogo{
    color: #E7515F;
  }
}

.spotifyLink:hover{
  .spotifyLogo{
    color: #65D46E;
  }
}

.shareUsernameLink:hover{
  .shareUsernameLogo {
    color: #8A5CA3;
  }
}

.iconFollowPlain{
  transition: transform 0.05s ease-in;
  transform: scale(1.00);
  font-size: x-large;
  cursor: pointer;
  width: 1.8em;
}

.iconFollowPlain:hover{
  transition: transform 0.2s ease-out;
  transform: scale(1.05);
}

.iconFollowPlain.transformIcon{
  transform: rotateY(180deg);
  transition: transform 0.2s ease-in-out;
}

.iconFollowPlain.newFollow{
    transform: rotateY(360deg);
}

.userInfo{
  text-align: center;
  margin-bottom: 1em;
}

a{
  text-decoration: none;
  color: inherit;
}

.hideIfShrunk{
  display: inline;
  transition: font-size 0.5s ease-out;
  font-size: larger;
}

.hideIfShrunk.shrink{
  transition: font-size 0.1s ease-out;
  font-size: 0.001em;
}

.hideIfShrunk.hidden{
  display: none;
}

.bottomBorder{
  transition: width 0.5s ease-out, padding-top 0.5s ease-out;
  width: 50%;
  border-bottom: 2px solid #4F4E57;
  padding-top: 1em;
}

.bottomBorder.shrink{
  transition: width 0.2s, padding-top 0.2s;
  width: 100%;
  padding-top: 0;
}

.imgProfile{
  transition: max-height 0.5s ease-out;
  max-height: 9em;
}

.imgProfile.shrink{
  transition: max-height 0.2s ease-out;
  max-height: 3em;
}

//Playlists
.expandPlaylists {
  max-height: 23.5em;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.transformPlaylists {
  max-height: 5000em;
  transition: max-height 2s ease-in;
}

#arrowPlaylists {
  transition: transform 0.3s;
}

.transformedArrowPlaylists {
  transform: rotate(90deg);
}

//Freunde
.expandFriends {
  max-height: 11em;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.transformFriends {
  max-height: 5000em;
  transition: max-height 2s ease-in;
}

#arrowFriends {
  transition: transform 0.3s;
}

.transformedArrowFriends {
  transform: rotate(90deg);
}
