<h2 class="pt-4 container text-center">Settings</h2>
<div class="container mt-3">
  <div class="card mt-3 mb-3">
    <div class="card-header">
      Linking
    </div>
    <div class="card-body">
      <p>
        <button class="btn" (click)="linkSpotify()" [disabled]="linkedSpotify" title="Unlink Spotify Account">Link Spotify
          <i class="bi bi-check" *ngIf="linkedSpotify"></i>
        </button>
        <a (click)="removeSpotifyLink()" *ngIf="linkedSpotify"><i class="bi-trash-fill  px-2"></i></a>
      </p>
      <button class="btn" (click)="linkAppleMusic()" [disabled]="linkedAppleMusic">Link Apple Music
        <i class="bi bi-check" *ngIf="linkedAppleMusic"></i>
      </button>
      <a (click)="removeAppleMusicLink()" *ngIf="linkedAppleMusic" title="Unlink Apple Music Account"><i class="bi-trash-fill px-2"></i></a>
    </div>
  </div>
</div>
