<div class="pt-4 mt-1 px-auto pb-3 mb-4 playlistHeader container">
  <div class="row align-items-center">
    <div class="imgPlaylist align-items-center" [ngClass]="{ 'mx-auto': isMobile }"><img [src]="currentPlaylist.cover_url" class="img my-3" alt="{{ currentPlaylist.title }}" /></div>
    <div class="container align-items-bottom px-0" [ngClass]="{ 'row': isMobile,'text-center': isMobile, 'mx-auto': isMobile, 'justify-content-center':isMobile, 'col': !isMobile, 'text-left': !isMobile, 'px-4':!isMobile }">
      <h5 class="row" [ngClass]="{ 'text-center': isMobile, 'mx-auto': isMobile }"><a href="/profile" class="card-author px-0" [ngClass]="{ 'text-center': isMobile, 'mx-auto': isMobile }">{{ currentPlaylist.owner_id }}</a></h5>
      <h4 class="card-title row"><div class="px-0" [ngClass]="{ 'text-center': isMobile, 'mx-auto': isMobile }">{{ currentPlaylist.title }}</div></h4>
      <div class="row">
        <div class="logos align-items-center text-left px-0" [ngClass]="{ 'mt-1': isMobile, 'mt-3': !isMobile }">
          <a class="linkedButton appleLink my-auto py-auto"
              data-bs-toggle="modal" data-bs-target="#confirmExportApplemusic"
          ><i class="bi-apple"></i></a><a> | </a>
          <a class="linkedButton spotifyLink my-auto py-auto"
             data-bs-toggle="modal" data-bs-target="#confirmExportSpotify"
          ><i class="bi-spotify"></i></a><a> | </a>
          <a class="linkedButton shareLink my-auto py-auto" (click)="copyLink()"
             ngbTooltip="Link copied!"
             [closeDelay]="1500"
             triggers="click:click"
             style="cursor: pointer" title="Copy Link"
          ><i class="bi-share"></i></a><a> | </a>
          <i class="linkedButton addLink my-auto py-auto" title="Add"
             (click)="add()"
             [ngClass]="{'bi-plus-circle': !added, 'bi-check-circle-fill':added}">
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive mx-4 trackTable">
  <table class="table table-striped container p-1">
    <caption>{{ tracks.length }} tracks</caption>
    <thead *ngIf="!isMobile">
    <tr>
      <th class="text-end" scope="col" style="width: 1em;">#</th>
      <th scope="col"></th>
      <th class="durationCol" *ngIf="!isMobile" scope="col">Title</th>
      <th scope="col">Artist</th>
      <th scope="col">Duration</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let track of tracks, let i = index" class="playlistRow align-items-center">
        <th class="text-end" *ngIf="!isMobile">{{ i }}</th>
        <th style="width: 4.5em;" scope="row"><img src="/assets/papagei-foto.jpg" class="rounded-1 trackImg" style="width: 3em; height: 3em;"></th>
        <td>{{ track.title }}</td>
        <td>{{ track.artist }}</td>
        <td class="durationCol" *ngIf="!isMobile">{{ track.duration }}</td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Popups -->
<div class="modal fade" #m id="confirmExportApplemusic" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="confirmExportLabel" aria-hidden="true">
  <app-confirm-export [currentPlaylist]="currentPlaylist" [spotify]="false" [id]="m"></app-confirm-export>
</div>

<div class="modal fade" #m id="confirmExportSpotify" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="confirmExportLabel" aria-hidden="true">
  <app-confirm-export [currentPlaylist]="currentPlaylist" [spotify]="true" [id]="m"></app-confirm-export>
</div>
