<a class="card mx-auto usualStyle">
  <div class="pt-3 mx-auto">
    <a href="/playlist"><img [src]="playlist.cover_url"   class="card-img-top art-cover" style="width: 16em; height: 16em;" alt="{{ playlist.title }}"
            (mousemove)="tilt($event)" (mouseleave)="resetTilt($event)" /></a>
  </div>
  <div class="mx-3 mt-3 p-0">
    <a href="/playlist"><h5 class="card-title overflow-hidden w-100">{{ playlist.title }}</h5></a>
    <div class="row row-cols-2 mb-2 justify-content-between">
      <div class="card-author mb-0 overflow-hidden ps-3"><a href="/profile">{{ playlist.owner_id }}</a></div>
      <div class="logos align-items-center">
        <a class="linkedButton appleLink my-auto py-auto" href="https://apple.com" target="_blank"><i class="bi-apple"></i></a><a> | </a>
        <a class="linkedButton spotifyLink my-auto py-auto" href="https://www.spotify.com" target="_blank"><i class="bi-spotify"></i></a><a> | </a>
        <a class="linkedButton shareLink my-auto py-auto"><i class="bi-share"></i></a><a> | </a>
        <a class="iconAddPlain">
          <i class="linkedButton addLink my-auto py-auto" title="Add"
             (click)="add()"
             [ngClass]="{'bi-plus-circle': !added, 'bi-check-circle-fill':added}">
          </i>
        </a>
      </div>
    </div>
  </div>
</a>
