<h2 class="mb-4 text-center">{{ title }}</h2>

<div id="{{ carouselId }}" class="carousel slide" data-bs-interval="false" data-pause="hover">
  <div class="carousel-inner rotatecontainer">
    <div class="carousel-item"
         [ngClass]="{ active: i === 0 }" *ngFor="let chunk of playlistChunks; let i = index">
      <div class="row mx-0" [ngClass]="{ 'row-cols-3' : !isMobile, 'row-cols-2' : isMobile  }">
        <div *ngFor="let playlist of chunk" [ngClass]="{ 'px-1':isMobile, 'px-2':!isMobile }">
          <app-playlist [playlist]="playlist"></app-playlist>
        </div>
      </div>
    </div>
  </div>

  <!-- Carousel controls -->
  <button class="carousel-control-prev text-black h-25 bg-black my-auto w-auto" type="button"
          [attr.data-bs-target]="'#' + carouselId"
          data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button
    class="carousel-control-next text-black h-25 bg-black my-auto w-auto"
    type="button"
    [attr.data-bs-target]="'#' + carouselId"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
