.controlArrows{
  color: black;
  background: black;
  //background: rgba(255, 255, 255, 0.4);
  height: 25%;
  width: auto;
}

.playlistsHome{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: none;
}

.singlePlaylist{
  width: 100em;
}
