<h2 class="mb-4">{{ title }}</h2>
<div id="playlistCarousel" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item"
			 [ngClass]="{ active: i === 0 }" *ngFor="let chunk of playlistChunks; let i = index">
			<div class="row">
				<div
						class="col-md-4 col-sm-6 mb-4"
						*ngFor="let playlist of chunk"
				>
					<app-playlist [playlist]="playlist"></app-playlist>
				</div>
			</div>
		</div>
	</div>

	<!-- Carousel controls -->
	<button
			class="carousel-control-prev"
			type="button"
			data-bs-target="#playlistCarousel"
			data-bs-slide="prev"
	>
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button
			class="carousel-control-next"
			type="button"
			data-bs-target="#playlistCarousel"
			data-bs-slide="next"
	>
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
