<div class="py-3">
  <ul class="nav nav-tabs">
      <li class="nav-item" style="padding-left: 2em;">
        <a class="nav-link linkText" [ngClass]="{ 'active': spotify }" href="/addplaylist?type=spotify">Spotify</a>
      </li>
      <li class="nav-item">
        <a class="nav-link linkText" [ngClass]="{ 'active': !spotify }" href="/addplaylist?type=applemusic">Apple Music</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" tabindex="-1" aria-disabled="true"><i class="bi-person-wheelchair"></i></a>-->
<!--      </li>-->
  </ul>
  <div class="mainContainer pt-3">
    <h5>Choose playlist to import</h5>
    <app-playlistList headline="" [playlists]="playlists"></app-playlistList>
  </div>
</div>
