<nav *ngIf="!isRegistrationPage" class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #8A5CA3; font-size: larger; z-index: 1000; height: 3.8em;">
  <a class="navbar-brand m-0 p-0 ps-3 align-items-center justify-content-start container col-auto" href="#">
    <img ngSrc="assets/logoTuneShare.png" class="col" alt="TuneShareLogo" width="45" height="45">
    <div class="mx-2 col">TuneShare</div>
  </a>
  <ul *ngIf="isMobile" class="navbar-nav ml-0 my-0 pe-3 ps-0 d-flex flex-row align-items-center" style="font-size: x-large;">
    <li class="nav-item mx-2">
      <a class="nav-link" href="#"><i class="bi bi-plus-circle-fill"></i></a>
    </li>
    <li class="nav-item dropdown mx-2 my-0 py-0">
      <a class="nav-link" href="#" id="f" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end bg-dark position-absolute" aria-labelledby="navbarDropdown">
        <li class="mx-1"><a class="nav-link" href="/profile">Account</a></li>
        <li class="mx-1"><a class="nav-link" href="/settings">Settings</a></li>
        <li class="mx-1">
          <a *ngIf="authService.isLoggedIn; else signIn" class="nav-link" href="/" (click)="authService.clearAccessToken()">
            Sign out
          </a>
          <ng-template #signIn>
            <a class="nav-link" href="/login">
              Sign in
            </a>
          </ng-template>
        </li>
      </ul>
    </li>
    <button class="navbar-toggler mr-auto mx-2 p-0" style="border: none" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </ul>
  <div class="collapse navbar-collapse pe-3" id="navbarNav" [ngClass]="{ 'pb-3': isMobile, 'ps-3' : isMobile }" style="background-color: #8A5CA3;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/library">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/followed">Followed</a>
      </li>
      <li *ngIf="isMobile">
        <form (ngSubmit)="submitSearch(f)" #f=ngForm>
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="inputSearch"
                 style="background-color: #D8C9E1; border-color: #8A5CA3;" ngModel>
        </form>
      </li>
    </ul>
    <form *ngIf="!isMobile" class="form-inline ms-auto px-3" style="width: 20em" (ngSubmit)="submitSearch(f)" #f=ngForm>
      <div class="input-group">
        <div class="input-group-prepend">
          <button type="submit" class="input-group-text"
                style="background-color: #D8C9E1; border-bottom-right-radius: 0; border-top-right-radius: 0; border-color: #8A5CA3"
                id="searchText"><i class="bi bi-search"></i></button>
        </div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="inputSearch"
               style="background-color: #D8C9E1; border-bottom-left-radius: 0; border-color: #8A5CA3;" ngModel>
      </div>
    </form>
    <ul *ngIf="!isMobile" class="navbar-nav ms-auto my-0 py-0" style="font-size: x-large">
      <li class="nav-item mx-1">
        <a class="nav-link" href="/addplaylist?type=spotify"><i class="bi bi-plus-circle-fill"></i></a>
      </li>
      <li class="nav-item dropdown mx-1 my-0 py-0">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
          <i class="bi bi-person-circle"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end bg-dark" aria-labelledby="navbarDropdown">
          <li><a class="nav-link" href="/profile">Account</a></li>
          <li><a class="nav-link" href="/settings">Settings</a></li>
          <li>
            <a *ngIf="authService.isLoggedIn; else signIn" class="nav-link" href="/" (click)="authService.clearAccessToken()">
              Sign out
            </a>
            <ng-template #signIn>
              <a class="nav-link" href="/login">
                Sign in
              </a>
            </ng-template>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
