<div class="mt-4 px-4 mx-auto" style="width: 95%">
  <h2 class="mb-1 container">{{ headline }}</h2>
  <div class="row row-cols-auto mx-auto justify-content-center">
    <app-playlist
      class="col my-2 p-0" style="width: 21em"
      *ngFor="let playlist of playlists"
      [playlist]="playlist">
    </app-playlist>
    <div class="col p-0" style="width: 21em; height: 0;"></div>
    <div class="col p-0" style="width: 21em; height: 0;"></div>
    <div class="col p-0" style="width: 21em; height: 0;"></div>
    <div class="col p-0" style="width: 21em; height: 0;"></div>
    <div class="col p-0" style="width: 21em; height: 0;"></div>
    <div class="col p-0" style="width: 21em; height: 0;"></div>
    <div class="col p-0" style="width: 21em; height: 0;"></div>
    <div class="col p-0" style="width: 21em; height: 0;"></div>
    <div class="col p-0" style="width: 21em; height: 0;"></div>
    <div class="col p-0" style="width: 21em; height: 0;"></div>
    <div class="col p-0" style="width: 21em; height: 0;"></div>
    <div class="col p-0" style="width: 21em; height: 0;"></div>
    <div class="col p-0" style="width: 21em; height: 0;"></div>
  </div>
</div>
