<div class="row row-cols-auto mx-auto justify-content-center">
  <app-playlist
    class="col my-2 p-0" style="width: 21em"
    *ngFor="let playlist of playlists"
    [playlist]="playlist"
    (is_deleted)="playlistDeleted(playlist, $event)">
  </app-playlist>
  <div class="col p-0" style="width: 21em; height: 0;"></div>
  <div class="col p-0" style="width: 21em; height: 0;"></div>
  <div class="col p-0" style="width: 21em; height: 0;"></div>
  <div class="col p-0" style="width: 21em; height: 0;"></div>
  <div class="col p-0" style="width: 21em; height: 0;"></div>
  <div class="col p-0" style="width: 21em; height: 0;"></div>
  <div class="col p-0" style="width: 21em; height: 0;"></div>
  <div class="col p-0" style="width: 21em; height: 0;"></div>
  <div class="col p-0" style="width: 21em; height: 0;"></div>
  <div class="col p-0" style="width: 21em; height: 0;"></div>
  <div class="col p-0" style="width: 21em; height: 0;"></div>
  <div class="col p-0" style="width: 21em; height: 0;"></div>
  <div class="col p-0" style="width: 21em; height: 0;"></div>
</div>
